body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url(imagem/pexels-bich-tran-636243.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: repeat;
}
/*Mother divparent*/
.parent{
  
    margin:  auto;
    border-radius: 15px;
    display: block;

    background-color: white;
    width: 800px;
    height: 400px;
}


/*Nav*/
.navbar{
    background-color: blueviolet;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    
}
.gmail{
  padding-left: 20px;
}
.react{
    margin-left: 50%;
    
}
.gmail:hover{
  background-color:rgba(245, 245, 245, 0.111);
  border-radius: 10px;
}

.react:hover{
  background-color:rgba(245, 245, 245, 0.111);
  border-radius: 10px;
}

a{
    font-size: 30px;
    color: white;
    text-decoration: none;
  
}

/*h1*/
h1{
    

    text-align: center;
    margin-top: 80px;
    
}

/*quote text*/
p{
    font-size: 25px;
    margin-top: 120px;
    padding-top: 50px;
}


/*buttton*/
.btn{
    margin-right: 410px;
    margin-top: 140px;
    position: relative;
    

}
.GEtRamndom{
    margin-left: 200px;
    margin-top: -60px;

}
.quote{
    text-align: center;
    margin-top: -120px;
}



button{
    font-size: 24px;
    margin-left: 9px;
    border: none;
  
    
}
/*estilizacao individual dos icons*/
.twitter{
    font-size: 35px;
    background-color:  #38a1f3;
    color: white;
    cursor: pointer;
    border-radius: 50%; 
    
   
    
  }
  .sapp{
    font-size: 35px;
    background-color:#25d366 ;
    color: white;
    cursor: pointer;
    border-radius: 50%; 
  }
  
  .fb{
    font-size: 35px;
    background-color: #4267b2;
    color: white;
    cursor: pointer;
    border-radius: 50%; 
  
  }
  
  .instagram{
    font-size: 35px;
    background-color: #f56040 ;
    color: white;
    cursor: pointer;
    border-radius: 50%; 
  }
  
  .linkedin{
    font-size: 35px;
    background-color:#405de6 ;
    color: white;
    cursor: pointer;
    border-radius: 50%; 
  }
  
  

  .GEtRamndom{
    font-size: 30px;
    position: fixed;
   
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    
  
  
  }

  /*responsiveness*/

  @media screen and (max-width:800px) {
    .parent{
      width: 400px;
     
      height: auto;
    }
    .GEtRamndom{
      margin-left: -290px;
      margin-top: -70px;
  
  }
  
button{
  font-size: 14px;
  margin-left: 30px;
  
  
}

.btn{
  margin-right: 11px;
  margin-top: 130px;
  position: relative;
  

}
.gmail{
  align-items: center;
}
.react{
   display:none;
    
}
.navbar{
  padding: 0px;
}
  }
  
 